<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.french">

    <uses-permission android:name="android.permission.INTERNET" />
    <permission-group android:name="android.permission-group.STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_screen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_menu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".General.General"
            android:label="@string/list1"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
            <activity android:name=".General.Telephone.Telephone"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Salutations.Salutations"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.MasculineFeminine.MasculineFeminine"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Interrogative_Words.Interrogative_Words"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Family_Members.Family_Members"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Directions.Directions"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Geography.Geography"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".General.Geography.Francophone_Countries.Francophone_Countries"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Geography.General_Knowledge.General_Knowledge"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Geography.Countries_and_Nationalities.Countries_and_Nationalities"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
            <activity android:name=".General.Numbers.Numbers"
                android:label="@string/genlt3"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".General.Numbers.Ordinal_Numbers.Ordinal_Numbers"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Numbers.Cardinal_Numbers.Cardinal_Numbers"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
            <activity android:name=".General.Calender_Time.Calender_Time"
                android:label="@string/genlt8"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".General.Calender_Time.Days.Days"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Calender_Time.Months.Months"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Calender_Time.Seasons.Seasons"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Calender_Time.Time.Time"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
            <activity android:name=".General.Subjects_Professions.Subjects_Professions"
                android:label="@string/genlt9"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".General.Subjects_Professions.Subjects.Subjects"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Subjects_Professions.Professions.Professions"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
            <activity android:name=".General.Shorthand_Expansions.Shorthand_Expansions"
                android:label="@string/genlt11"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".General.Shorthand_Expansions.Abbreviations.Abbreviations"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Shorthand_Expansions.Acronyms.Acronyms"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                <activity android:name=".General.Shorthand_Expansions.Expansions.Expansions"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
        <activity android:name=".Grammer.Grammer"
            android:label="@string/list2"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
            <activity android:name=".Grammer.Verb.Verb"
                android:label="@string/gramlt3"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".Grammer.Verb.Regular.Regular"
                    android:label="@string/verblt2"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
                    <activity android:name=".Grammer.Verb.Regular.Group1.Group1"
                        android:label="@string/verblt2"
                        android:parentActivityName=".main_menu.MainActivity"
                        android:theme="@style/itemMenu"
                        />
                    <activity android:name=".Grammer.Verb.Regular.Group2.Group2"
                        android:label="@string/verblt2"
                        android:parentActivityName=".main_menu.MainActivity"
                        android:theme="@style/itemMenu"
                        />
                    <activity android:name=".Grammer.Verb.Regular.Group3.Group3"
                        android:label="@string/verblt2"
                        android:parentActivityName=".main_menu.MainActivity"
                        android:theme="@style/itemMenu"
                        />
                <activity android:name=".Grammer.Verb.Irregular.Irregular"
                    android:label="@string/verblt2"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
            <activity android:name=".Grammer.Definite_Articles.Definite_Articles"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Demostratives.Demostratives"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Indefinite_Articles.Indefinite_Articles"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Negetive_Sentences.Negetive_Sentences"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Possessive_Adjectives.Possessive_Adjectives"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Preposition_Of_Places.Preposition_Of_Places"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Preposition_Of_Time.Preposition_Of_Time"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Pronouns.Pronouns"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Tonics.Tonics"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
        <activity android:name=".Translations.Translations"
            android:label="Translations"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
            <activity android:name=".Translations.Lesson1.Lesson1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson2.Lesson2"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson3.Lesson3"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson4.Lesson4"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson5.Lesson5"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson6.Lesson6"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson7.Lesson7"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson8.Lesson8"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson9.Lesson9"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson10.Lesson10"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson11.Lesson11"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Translations.Lesson12.Lesson12"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
        <activity android:name=".Assignment.Assignment"
            android:label="Assignments"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
        <activity android:name=".lessonActivity"
            android:theme="@style/AppTheme"
            />
    </application>

</manifest>