<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.french">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/circlelogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_screen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_menu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutTheApp"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />

        <activity android:name=".Creators"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />

        <activity android:name=".common_adapters.BranchEnd"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />

        <activity android:name=".General.General"
            android:label="@string/list1"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
            <activity android:name=".General.Geography.Geography"
                android:label="@string/genlt1"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Numbers.Numbers"
                android:label="@string/genlt3"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Calender_Time.Calender_Time"
                android:label="@string/genlt8"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Subjects_Professions.Subjects_Professions"
                android:label="@string/genlt9"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".General.Shorthand_Expansions.Shorthand_Expansions"
                android:label="@string/genlt11"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
        <activity android:name=".Grammer.Grammer"
            android:label="@string/list2"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
            <activity android:name=".Grammer.Verb.Verb"
                android:label="@string/gramlt3"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
                <activity android:name=".Grammer.Verb.Regular.Regular"
                    android:label="@string/verblt2"
                    android:parentActivityName=".main_menu.MainActivity"
                    android:theme="@style/itemMenu"
                    />
            <activity android:name=".Grammer.Articles.Articles"
                android:label="Articles"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
            <activity android:name=".Grammer.Prepositions.Prepositions"
                android:label="Prepositions"
                android:parentActivityName=".main_menu.MainActivity"
                android:theme="@style/itemMenu"
                />
        <activity android:name=".Translations.Translations"
            android:label="Translations"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
        <activity android:name=".Assignment.Assignment"
            android:label="Assignments"
            android:parentActivityName=".main_menu.MainActivity"
            android:theme="@style/itemMenu"
            />
        <activity android:name=".lessonActivity"
            android:theme="@style/AppTheme"
            />
    </application>

</manifest>